In [1]:
import pandas as pd

data = pd.read_csv("./data/dmv_query.csv", sep=",")
data.head()

,0,1,2,3,4,5,6,7,8,9,10
0,"[-1.260126558977816, -0.2369342532160874]","[-1.8959374607576165, 1.860923845132794]","[-0.7365552595001024, 1.4444459458203256]","[-1.1464986731594555, 2.255263184000948]","[0.6767978328648754, 2.0552371224824344]","[-1.0073781170039398, 0.37767592184086374]","[-0.4341112674365708, 0.6692093376390955]","[-1.7937806767517854, 2.8036319183586156]","[-0.9136939980662104, 0.09097129394258996]","[-1.2677757010400448, 0.8406242114834102]","[-1.5631244160248052, 1.7278013087093247]"
1,"[-1.3721653270383627, 2.081330113743748]","[0.726444635199599, 2.03489314088781]","[-1.903740493650988, 2.0]","[-1.4732744339732, 2.3781141044476546]","[0.534008598262231, 2.4571250157473123]","[-0.386255427341432, 1.3437869050827886]","[-1.891391774852884, 6.0]","[-1.890105597825969, 7.0]","[-0.6340915590726713, 2.772867032010119]","[-0.9801227750124618, 1.0244762078778142]","[-1.8886365873419335, 10.0]"
2,"[-1.6652361597770815, 0.19721363534430636]","[-1.3089787350867124, -0.11871389175130087]","[-0.9963432946315364, 0.933819664281845]","[-0.9238466984362284, 2.562384658425435]","[-0.6959828846623772, 2.282411308590564]","[-1.3137222436748044, 0.4582563508339058]","[-0.9104433282137436, 0.8097207942934292]","[0.1360810913351929, 2.571501155574503]","[-0.0875724960033207, 1.9502776452681974]","[-0.8170173679508834, 1.5039175423960875]","[-1.800471177959752, 0.5303354242830896]"
3,"[-1.5569939809538509, -0.5538146281740439]","[-0.2195567248675598, 1.8120479342360216]","[-0.5683141189708811, 2.6195281420240533]","[-0.1035644078242013, 0.9140718763687004]","[-0.7005531591429937, 2.479631842778009]","[0.1411846667192799, 1.5616137726254924]","[0.0213341781949979, 1.7183498823083876]","[-1.035906690261493, 0.46187942779986146]","[0.3877287078845685, 2.5092121402123455]","[-0.3788567169557401, 1.1407312374871603]","[1.1677214858907083, 2.33707657777464]"
4,"[-1.3098750854783592, 0.580869523693702]","[0.4515150940473441, 1.8460961139996526]","[-1.6783074296688505, 0.24176716596864867]","[-0.171972063197759, 2.6864964708527674]","[-1.2809018671664458, -0.021429517321880587]","[-0.4091431170216335, 1.098777208060317]","[-1.3481596278255978, 2.2833582041686]","[-0.9063888479689874, 0.5789092351364244]","[0.558299551211563, 2.3853663619770895]","[-1.196673777974762, 0.7559409049301552]","[-1.8886365873419335, 10.0]"

In [2]:
import sqlparse

raw = "select * from foo; select * from bar;"
statements = sqlparse.split(raw)
statements

['select * from foo;', 'select * from bar;']

In [3]:
parsed = sqlparse.parse('select * from foo')[0]
parsed.tokens

[<DML 'select' at 0x7FC77C06BDC0>,
 <Whitespace ' ' at 0x7FC77CEA2500>,
 <Wildcard '*' at 0x7FC77CEA1FC0>,
 <Whitespace ' ' at 0x7FC77CEA25C0>,
 <Keyword 'from' at 0x7FC77CEA26E0>,
 <Whitespace ' ' at 0x7FC77CEA2740>,
 <Identifier 'foo' at 0x7FC77C0A35D0>]

In [6]:
raw = "SELECT COUNT(*) FROM movie_companies mc,title t,movie_info_idx mi_idx WHERE t.id=mc.movie_id AND t.id=mi_idx.movie_id AND mi_idx.info_type_id=112 AND mc.company_type_id=2;"
parsed = sqlparse.parse(raw)[0]
parsed.tokens

[<DML 'SELECT' at 0x7FC7FFF23640>,
 <Whitespace ' ' at 0x7FC77CED4FA0>,
 <Function 'COUNT(...' at 0x7FC77C0A21D0>,
 <Whitespace ' ' at 0x7FC77CED5E40>,
 <Keyword 'FROM' at 0x7FC77CED5EA0>,
 <Whitespace ' ' at 0x7FC77CED5F00>,
 <IdentifierList 'movie_...' at 0x7FC77CEF5750>,
 <Whitespace ' ' at 0x7FC77CED6380>,
 <Where 'WHERE ...' at 0x7FC77C0A1D50>]

In [8]:
print(sqlparse.format(raw, reindent=True))

SELECT COUNT(*)
FROM movie_companies mc,
     title t,
     movie_info_idx mi_idx
WHERE t.id=mc.movie_id
  AND t.id=mi_idx.movie_id
  AND mi_idx.info_type_id=112
  AND mc.company_type_id=2;

In [11]:
from sqlglot import parse_one, exp

# print all column references (a and b)
for column in parse_one("SELECT a, b + 1 AS c FROM d").find_all(exp.Column):
    print(column.alias_or_name)

# find all projections in select statements (a and c)
for select in parse_one("SELECT a, b + 1 AS c FROM d").find_all(exp.Select):
    for projection in select.expressions:
        print(projection.alias_or_name)

# find all tables (x, y, z)
for table in parse_one("SELECT * FROM x JOIN y JOIN z").find_all(exp.Table):
    print(table.name)

a
b
a
c
x
y
z

In [12]:
ast = parse_one("SELECT COUNT(*) FROM movie_companies mc,title t,movie_info_idx mi_idx WHERE t.id=mc.movie_id AND t.id=mi_idx.movie_id AND mi_idx.info_type_id=112 AND mc.company_type_id=2;")

In [14]:
print(repr(ast))

Select(
  expressions=[
    Count(
      this=Star(),
      big_int=True)],
  from=From(
    this=Table(
      this=Identifier(this=movie_companies, quoted=False),
      alias=TableAlias(
        this=Identifier(this=mc, quoted=False)))),
  joins=[
    Join(
      this=Table(
        this=Identifier(this=title, quoted=False),
        alias=TableAlias(
          this=Identifier(this=t, quoted=False)))),
    Join(
      this=Table(
        this=Identifier(this=movie_info_idx, quoted=False),
        alias=TableAlias(
          this=Identifier(this=mi_idx, quoted=False))))],
  where=Where(
    this=And(
      this=And(
        this=And(
          this=EQ(
            this=Column(
              this=Identifier(this=id, quoted=False),
              table=Identifier(this=t, quoted=False)),
            expression=Column(
              this=Identifier(this=movie_id, quoted=False),
              table=Identifier(this=mc, quoted=False))),
          expression=EQ(
            this=Column(
              this=Identifier(this=id, quoted=False),
              table=Identifier(this=t, quoted=False)),
            expression=Column(
              this=Identifier(this=movie_id, quoted=False),
              table=Identifier(this=mi_idx, quoted=False)))),
        expression=EQ(
          this=Column(
            this=Identifier(this=info_type_id, quoted=False),
            table=Identifier(this=mi_idx, quoted=False)),
          expression=Literal(this=112, is_string=False))),
      expression=EQ(
        this=Column(
          this=Identifier(this=company_type_id, quoted=False),
          table=Identifier(this=mc, quoted=False)),
        expression=Literal(this=2, is_string=False)))))